body::before {
  opacity: 0.1;
}body {
    padding: 0 30px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Arial", serif;
    color: #222222;
    background: #ffffff url("../img/bg1.jpg") no-repeat top center;
    background-size: 100%;
}

h1 { font-size: 24px; line-height: normal;}

h2 { font-size: 12px; line-height: normal;}
  
a {  color: #0099ef;  text-decoration: underline;}

article {  margin-top: 30px; border: 3px solid #e54506;  padding-left: 30; }
  
footer {  margin-top: 30px; border: 3px solid #e54506;  padding-left: 30; }

aside {  margin-top: 30px;  border: 3px solid #e54506; padding-left: 30;} 

.page-title {
  font-size: 36px;
  line-height: normal;
}
